*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #426faf;
    color: white;
    line-height: 1.6;
}


.action-nav{
    color:#fb9779;
}


.heading{
    text-align: center;
    padding-top: 300px;
    font-size: 60px;
    background-image: url(img20.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}


.headingText{
    font-family: "Poppins", sans-serif;
    text-shadow: 3px 3px 3px black;
}


.change{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 8px;
}


.font{
    margin-left: 30px;
}


.color{
    display: flex;
    margin-right: 30px;
}


form{
    padding-top: 5px;
}


#button{
    margin-left: 10px;
    font-size: 16px;
}


button{
    font-size: 16px;
    padding: 8px;
    background-color: #fb9779;
    border: 1px solid #fb9779;
    transition: 0.6s;
}


button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


img{
    width: 275px;
    height: 200px;
    border: 2px #fb9779 solid;
}


.image{
    display: inline;
    padding: 10px 5px;
}


.imageContainer{
    background-color: #455A64;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.imageContainer h2{
    font-family: "MV Boli";
    font-size: 45px;
    margin-bottom: 30px;
    color: #fb9779;    
}


.image img:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.5s;
}


#pic1Para,#pic2Para,#pic3Para,#pic4Para,#pic5Para,#pic6Para,#pic7Para,#pic8Para{
   display: none;
}


.links{
    text-decoration: underline;
    color: rgb(20, 3, 97);
}


.links:hover{
    text-decoration: underline;
    cursor: pointer;
}


.largeImage{
    display: none;
    height: auto;
    padding: 100px 150px;
}


#expandedImage{
    border: 2px #fb9779 solid;
    width: 400px;
    height: 300px;
    margin-left: 20px;
    margin-top: 30px;
}


#description{
    color:whitesmoke;
    font-size: 18px;
    width: 60%;
    float: left;
    text-align: justify;
    padding-right: 50px;
}


#description h3{
    color: #0c0454;
    padding: 10px 0;
    text-align: center;  
}


